<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>챗봇</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <style>
      @font-face {
        font-family: 'GmarketSansMedium';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
        font-weight: normal;
        font-style: normal;
      }
      .gmarketfontM{
        font-family: 'GmarketSansMedium';
      }
      * {
        font-family: 'GmarketSansMedium';
      }
      .navbar {
        height: 110px;
      }
    </style>
    <!-- Vendor Styles-->
    <link rel="stylesheet" media="screen" th:href="@{/vendor/simplebar/dist/simplebar.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/vendor/tiny-slider/dist/tiny-slider.css}"/>
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" th:href="@{/css/theme.min.css}">
  </head>
  <body style="padding-top: 72px;">
    <!-- 헤더 시작 -->
    <th:block th:replace="common/header :: headerFragment"></th:block>
    
    <section class="py-5">
      <div class="container">
        <div class="mt-4 d-flex flex-column flex-md-row justify-content-md-between align-items-md-center mb-4">
          <h1 class="mb-3 mb-md-0 hero-heading mb-0" style="font-size: 50pt;">무엇을 도와드릴까요?</h1>
          <div><a class="btn btn-link ps-0" href="#"><i class="fi-arrow-back"></i> &nbsp뒤로 가기</a></div>
        </div>
        <!-- 채팅공간 -->
        <div class="px-4 py-5">
          <div class="row" id="chatArea">
            <!-- 챗봇 메세지 -->
            <div class="d-flex col-md-9 col-xl-7 mb-3">
              <img class="img-thumbnail rounded-circle" 
                  style="height: 80px;"
                  src="img/myimages/ksw/FinalLogo.jpg" alt="user">
              <div class="ms-3">
                <div class="bg-secondary rounded p-4 mb-2">
                  <p class="text-sm mb-0">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections</p>
                </div>
                <p class="small text-muted ms-3">12:00 PM | Aug 13</p>
              </div>
            </div>
            <!-- 사용자 메세지 -->
            <div class="d-flex col-md-9 col-xl-7 ms-auto mb-3">
              <div class="me-3">
                <div class="bg-primary rounded p-4 mb-2">
                  <p class="text-sm mb-0 text-white">The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. &quot;What's happened to me?&quot; he thought. It wasn't a dream.</p>
                </div>
                <p class="small text-muted ms-3">12:00 PM | Aug 13</p>
              </div>
              <img class="img-thumbnail rounded-circle" 
                  style="height: 80px;"
                  src="img/myimages/ksw/replyicon.png" alt="user">
            </div>
            <!-- 챗봇 메세지 -->
            <div class="d-flex col-md-9 col-xl-7 mb-3">
              <img class="img-thumbnail rounded-circle" 
                  style="height: 80px;"
                  src="img/myimages/ksw/FinalLogo.jpg" alt="user">
              <div class="ms-3">
                <div class="bg-secondary rounded p-4 mb-2">
                  <p class="text-sm mb-0">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections</p>
                </div>
                <p class="small text-muted ms-3">12:00 PM | Aug 13</p>
              </div>
            </div>
            <!-- 사용자 메세지 -->
            <div class="d-flex col-md-9 col-xl-7 ms-auto mb-3">
              <div class="me-3">
                <div class="bg-primary rounded p-4 mb-2">
                  <p class="text-sm mb-0 text-white">The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. &quot;What's happened to me?&quot; he thought. It wasn't a dream.</p>
                </div>
                <p class="small text-muted ms-3">12:00 PM | Aug 13</p>
              </div>
              <img class="img-thumbnail rounded-circle" 
                  style="height: 80px;"
                  src="img/myimages/ksw/replyicon.png" alt="user">
            </div>
            <!-- 챗봇 메세지 -->
            <div class="d-flex col-md-9 col-xl-7 mb-3">
              <img class="img-thumbnail rounded-circle" 
                  style="height: 80px;"
                  src="img/myimages/ksw/FinalLogo.jpg" alt="user">
              <div class="ms-3">
                <div class="bg-secondary rounded p-4 mb-2">
                  <p class="text-sm mb-0">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections</p>
                </div>
                <p class="small text-muted ms-3">12:00 PM | Aug 13</p>
              </div>
            </div>
            <!-- 사용자 메세지 -->
            <div class="d-flex col-md-9 col-xl-7 ms-auto mb-3">
              <div class="me-3">
                <div class="bg-primary rounded p-4 mb-2">
                  <p class="text-sm mb-0 text-white">The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. &quot;What's happened to me?&quot; he thought. It wasn't a dream.</p>
                </div>
                <p class="small text-muted ms-3">12:00 PM | Aug 13</p>
              </div>
              <img class="img-thumbnail rounded-circle" 
                  style="height: 80px;"
                  src="img/myimages/ksw/replyicon.png" alt="user">
            </div>
          </div>
        </div>
        <!-- 채팅 입력창 -->
        <form class="bg-faded-accent rounded shadow-sm" action="#">
          <div class="input-group">
            <textarea class="form-control border-0 p-4 bg-secondary text-sm" id="userChat" placeholder="질문을 입력하세요" aria-describedby="sendMessage"></textarea>
            <button class="btn btn-link" id="sendMessage" type="button"><i class="fi-send"></i></button>
          </div>
        </form>
      </div>
    </section>

    <!-- 푸터 -->
	<th:block th:replace="common/footer :: footerFragment"></th:block>
    
    <!-- 챗봇 기능 ajax -->
    <script th:inline="javascript">
    	$(()=>{
    		$('#sendMessage').click(()=>{
    			let userChat = $('#userChat').val();
    			// 사용자 질문 화면에 출력
    			$('#chatArea').append(
   					"<div class='d-flex col-md-9 col-xl-7 ms-auto mb-3'>"+
   		              "<div class='me-3'>"+
   		                "<div class='bg-primary rounded p-4 mb-2'>"+
   		                  "<p class='text-sm mb-0 text-white'>"+
   		                  userChat +
   		                  "</p>"+
   		                "</div>"+
   		              "</div>"+
   		              "<img class='img-thumbnail rounded-circle' "+
   		                  "style='height: 80px;'"+
   		                  "src='img/myimages/ksw/replyicon.png'>"+
   		            "</div>"
    			);
    			$('#userChat').val("");
    			
    			// ajax로 송수신
    			$.ajax({
    				type:'post',
    				url:'chatbotAjax.do',
    				data:{
    					userChat:userChat
    				},
    				success:(result)=>{
    					$('#chatArea').append(
   							"<div class='d-flex col-md-9 col-xl-7 mb-3'>"+
   				              "<img class='img-thumbnail rounded-circle' "+
   				                  "style='height: 80px;'"+
   				                  "src='img/myimages/ksw/FinalLogo.jpg'>"+
   				              "<div class='ms-3'>"+
   				                "<div class='bg-secondary rounded p-4 mb-2'>"+
   				                  "<p class='text-sm mb-0'>"+
   				                  result+
   				                  "</p>"+
   				                "</div>"+
   				              "</div>"+
   				            "</div>"
    					);
    				},
    				error:(e)=>{
    					console.log(e);
    				}
    			});
    		});
    	});
    
    </script>
    
    

    <!-- Vendor scrits: js libraries and plugins-->
    <script th:src="@{/vendor/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/vendor/simplebar/dist/simplebar.min.js}"></script>
    <script th:src="@{/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js}"></script>
    <script th:src="@{/vendor/tiny-slider/dist/min/tiny-slider.js}"></script>
    <!-- Main theme script-->
    <script th:src="@{/js/theme.min.js}"></script>
  </body>
</html>