<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
	<!-- 헤더 시작 -->
      <header id="header" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" data-scroll-header>
        <div class="container"><a class="navbar-brand me-0 me-xl-2" th:href="@{/}"><img class="d-block" th:src="@{/img/myimages/ksw/FinalLogo.jpg}" style="border-radius: 100%;" width="60" alt="Finder"></a>
          <span style="font-size: 30pt; color: white;">&nbsp;문화월드</span>
          <div class="collapse navbar-collapse order-lg-2" id="navbarNav">
            <ul class="navbar-nav navbar-nav-scroll" style="max-height: 35rem;">
              <!-- Menu items-->
              <li class="nav-item dropdown active"><a class="nav-link dropdown-toggle" style="font-size: 15pt;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">문화재</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" th:href="@{/heritage-search}">문화재 검색</a></li>
                  <li><a class="dropdown-item" href="job-board-home-v2.html">For Employers</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown active"><a class="nav-link dropdown-toggle" style="font-size: 15pt;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">행사</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="job-board-catalog.html">행사 검색</a></li>
                  <li><a class="dropdown-item" th:href="@{/calendar}">행사 달력</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown active"><a class="nav-link dropdown-toggle" style="font-size: 15pt;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">박물관</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" th:href="@{/museumlist}">박물관 검색</a></li>
                  <li><a class="dropdown-item" href="job-board-home-v2.html">For Employers</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown active"><a class="nav-link dropdown-toggle" style="font-size: 15pt;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">쇼핑</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="job-board-home-v1.html">쇼핑 메인</a></li>
                  <li><a class="dropdown-item" href="job-board-home-v2.html">For Employers</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown active"><a class="nav-link dropdown-toggle" style="font-size: 15pt;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">추천</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="job-board-home-v1.html">문화재/행사추천</a></li>
                  <li><a class="dropdown-item" th:href="@{/chatbot}">챗봇</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown active"><a class="nav-link dropdown-toggle" style="font-size: 15pt;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">날씨정보</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="job-board-home-v1.html">날씨정보</a></li>
                  <li><a class="dropdown-item" href="job-board-home-v2.html">For Employers</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown active"><a class="nav-link dropdown-toggle" style="font-size: 15pt;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">커뮤니티</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" th:href="@{/board/list}">게시판</a></li>
                  <li><a class="dropdown-item" href="job-board-home-v2.html">뉴스</a></li>
                  <li><a class="dropdown-item" href="job-board-home-v2.html">모임</a></li>
                  <li><a class="dropdown-item" href="job-board-home-v2.html">채팅</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <th:block th:if="${session.loginMember == null}">
            <a th:href="@{/login}" class="btn btn-primary ms-2 order-lg-3">
              <span><i class="fi-user me-2"></i>로그인</span>
            </a>
          </th:block>
          <th:block th:if="${session.loginMember != null}">
            <a th:href="@{/mypageProfile}" class="btn btn-primary ms-2 order-lg-3">
              <span><i class="fi-user me-2"></i>마이페이지</span>
            </a>
          </th:block>
        </div>
      </header>
      <!-- 헤더 끝 -->
</th:block>
</html>
