<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Finder | Sign In Page</title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="Finder - Directory &amp; Listings Bootstrap Template">
    <meta name="keywords" content="bootstrap, business, directory, listings, e-commerce, car dealer, city guide, real estate, job board, user account, multipurpose, ui kit, html5, css3, javascript, gallery, slider, touch">
    <meta name="author" content="Createx Studio">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#5bbad5" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#766df4">
    <meta name="theme-color" content="#ffffff">
    <!-- Page loading styles-->
    <style>
      @font-face {
        font-family: 'GmarketSansMedium';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
        font-weight: normal;
        font-style: normal;
      }
      .gmarketfontM{
        font-family: 'GmarketSansMedium';
      }
      * {
        font-family: 'GmarketSansMedium';
      }
      .navbar {
        height: 110px;
      }
      .page-loading {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all .4s .2s ease-in-out;
        transition: all .4s .2s ease-in-out;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        z-index: 9999;
      }
      .page-loading.active {
        opacity: 1;
        visibility: visible;
      }
      .page-loading-inner {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: opacity .2s ease-in-out;
        transition: opacity .2s ease-in-out;
        opacity: 0;
      }
      .page-loading.active > .page-loading-inner {
        opacity: 1;
      }
      .page-loading-inner > span {
        display: block;
        font-size: 1rem;
        font-weight: normal;
        color: #666276;;
      }
      .page-spinner {
        display: inline-block;
        width: 2.75rem;
        height: 2.75rem;
        margin-bottom: .75rem;
        vertical-align: text-bottom;
        border: .15em solid #bbb7c5;
        border-right-color: transparent;
        border-radius: 50%;
        -webkit-animation: spinner .75s linear infinite;
        animation: spinner .75s linear infinite;
      }
      @-webkit-keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
    </style>
    <!-- Page loading scripts-->
    <script>
      (function () {
        window.onload = function () {
          var preloader = document.querySelector('.page-loading');
          preloader.classList.remove('active');
          setTimeout(function () {
            preloader.remove();
          }, 2000);
        };
      })();
      
    </script>
    <!-- Vendor Styles-->
    <link rel="stylesheet" media="screen" href="vendor/simplebar/dist/simplebar.min.css"/>
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="css/theme.min.css">
  </head>
  <!-- Body-->
  <body class="bg-secondary">
    <!-- Page loading spinner-->
    <div class="page-loading active">
      <div class="page-loading-inner">
        <div class="page-spinner"></div><span>Loading...</span>
      </div>
    </div>
    <main class="page-wrapper">

      <!-- 헤더 시작 -->
      <header class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" data-scroll-header>
        <div class="container"><a class="navbar-brand me-0 me-xl-4" href="job-board-home-v1.html"><img class="d-block" src="img/myimages/ksw/FinalLogo.jpg" style="border-radius: 100%;" width="60" alt="Finder"></a>
          <span style="font-size: 20pt; color: white;">&nbsp문화월드 |</span>
          <div class="collapse navbar-collapse order-lg-2" id="navbarNav">
            <ul class="navbar-nav navbar-nav-scroll" style="max-height: 35rem;">
              <!-- Menu items-->
              <li class="nav-item dropdown active"><a class="nav-link dropdown-toggle" style="font-size: 15pt;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">문화재</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="job-board-home-v1.html">For Job Seekers</a></li>
                  <li><a class="dropdown-item" href="job-board-home-v2.html">For Employers</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown active"><a class="nav-link dropdown-toggle" style="font-size: 15pt;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">행사</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="job-board-catalog.html">List of Jobs</a></li>
                  <li><a class="dropdown-item" href="job-board-single.html">Single Job Page</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown active"><a class="nav-link dropdown-toggle" style="font-size: 15pt;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">박물관</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="job-board-home-v1.html">For Job Seekers</a></li>
                  <li><a class="dropdown-item" href="job-board-home-v2.html">For Employers</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown active"><a class="nav-link dropdown-toggle" style="font-size: 15pt;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">쇼핑</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="job-board-home-v1.html">For Job Seekers</a></li>
                  <li><a class="dropdown-item" href="job-board-home-v2.html">For Employers</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown active"><a class="nav-link dropdown-toggle" style="font-size: 15pt;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">추천</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="job-board-home-v1.html">For Job Seekers</a></li>
                  <li><a class="dropdown-item" href="job-board-home-v2.html">For Employers</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown active"><a class="nav-link dropdown-toggle" style="font-size: 15pt;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">날씨정보</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="job-board-home-v1.html">For Job Seekers</a></li>
                  <li><a class="dropdown-item" href="job-board-home-v2.html">For Employers</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown active"><a class="nav-link dropdown-toggle" style="font-size: 15pt;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">커뮤니티</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="job-board-home-v1.html">For Job Seekers</a></li>
                  <li><a class="dropdown-item" href="job-board-home-v2.html">For Employers</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <a href="#" class="btn btn-primary btn-sm ms-2 order-lg-3">
            <i class="fi-user me-2"></i>로그인</span>
          </a>
        </div>
      </header>
      <!-- 헤더 끝 -->

      <!-- Page content-->
      <!-- Hero-->
      <main class="page-wrapper">
        <section class="bg-dark py-xxl-5" style="position: relative; overflow: hidden; height: 600px;">
          <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
              background-image: url('img/shopping_img/덕수궁.PNG'); background-size: cover; background-position: center;">
          </div>
        </section>
    
        
    
      <!-- Page container-->
      <div class="container-fluid d-flex h-100 align-items-center justify-content-center py-4 py-sm-5">
          <!-- Page content-->
          <div class="col-lg-8 col-xl-9 position-relative overflow-hidden pb-5 pt-4 px-3 px-xl-4 px-xxl-5">
            <!-- Map popup-->
            <div class="map-popup invisible" id="map">
              <button class="btn btn-icon btn-light btn-sm shadow-sm rounded-circle" type="button" data-bs-toggle-class="invisible" data-bs-target="#map"><i class="fi-x fs-xs"></i></button>
              <div class="interactive-map" data-map-options-json="json/map-options-city-guide.json"></div>
            </div>

            <nav class="mb-4 pt-md-1" aria-label="Breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="real-estate-home-v1.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"> Shopping </li>
              </ol>
            </nav>

             <!-- Search form-->
             <form class="form-group d-block d-md-flex position-relative rounded-md-pill mb-2 mb-sm-4 mb-lg-5">
               <div class="input-group input-group-lg border-end-md"><span class="input-group-text text-muted rounded-pill ps-3"><i class="fi-search"></i></span>
                 <input class="form-control" type="text" placeholder="What are you looking for?">
               </div>
               <hr class="d-md-none my-2">
               <div class="d-sm-flex">
                 <button class="btn btn-primary btn-lg rounded-pill w-100 w-md-auto ms-sm-3" type="button">Search</button>
               </div>
             </form>
            </nav>


    
            <!-- Sorting-->
            <div class="d-flex flex-sm-row flex-column align-items-sm-center align-items-stretch my-2">
              <div class="d-flex align-items-center flex-shrink-0">
                <label class="fs-sm me-2 pe-1 text-nowrap" for="sortby"><i class="fi-arrows-sort text-muted mt-n1 me-2"></i>Sort by:</label>
                <select class="form-select form-select-sm" id="sortby">
                  <option>Low - High Price</option>
                  <option>High - Low Price</option>
                </select>
              </div>
              <hr class="d-none d-sm-block w-100 mx-4">
            </div>
            <!-- Catalog grid-->
            <div class="row row-cols-xl-3 row-cols-sm-3 row-cols-1 gy-4 gx-3 gx-xxl-4 py-4">
              <!-- Item-->
              <div class="col pb-sm-2">
                <article class="position-relative">
                  <div class="position-relative mb-3">
                    <button class="btn btn-icon btn-light-primary btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to Favorites"><i class="fi-heart"></i></button><img class="rounded-3" src="img/shopping_img/곤룡포잔 1.PNG" alt="Article img">
                  </div>
                  <h3 class="mb-2 fs-lg"><a class="nav-link stretched-link" href="city-guide-single.html">곤룡포잔</a></h3>
                  <ul class="list-inline mb-0 fs-xs">
                    <li class="list-inline-item pe-1"><i class="fi-star-filled mt-n1 me-1 fs-base text-warning align-middle"></i><b>4.9</b><span class="text-muted">&nbsp;(43)</span></li>
                    <li class="list-inline-item pe-1"><i class="fi-credit-card mt-n1 me-1 fs-base text-muted align-middle"></i>13000원</li>
                  </ul>
                </article>
              </div>
              <!-- Item-->
              <div class="col pb-sm-2">
                <article class="position-relative">
                  <div class="position-relative mb-3">
                    <button class="btn btn-icon btn-light-primary btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to Favorites"><i class="fi-heart"></i></button><img class="rounded-3" src="img/shopping_img/키트1.PNG" alt="Article img">
                  </div>
                  <h3 class="mb-2 fs-lg"><a class="nav-link stretched-link" href="city-guide-single.html">조선왕실등 만들기 키트</a></h3>
                  <ul class="list-inline mb-0 fs-xs">
                    <li class="list-inline-item pe-1"><i class="fi-star-filled mt-n1 me-1 fs-base text-warning align-middle"></i><b>5.0</b><span class="text-muted">&nbsp;(12)</span></li>
                    <li class="list-inline-item pe-1"><i class="fi-credit-card mt-n1 me-1 fs-base text-muted align-middle"></i>35000원</li>
                  </ul>
                </article>
              </div>
              <!-- Item-->
              <div class="col pb-sm-2">
                <article class="position-relative">
                  <div class="position-relative mb-3">
                    <button class="btn btn-icon btn-light-primary btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to Favorites"><i class="fi-heart"></i></button><img class="rounded-3" src="img/shopping_img/복북어1.PNG" alt="Article img">
                  </div>
                  <h3 class="mb-2 fs-lg"><a class="nav-link stretched-link" href="city-guide-single.html">복 북어</a></h3>
                  <ul class="list-inline mb-0 fs-xs">
                    <li class="list-inline-item pe-1"><i class="fi-star-filled mt-n1 me-1 fs-base text-warning align-middle"></i><b>4.0</b><span class="text-muted">&nbsp;(9)</span></li>
                    <li class="list-inline-item pe-1"><i class="fi-credit-card mt-n1 me-1 fs-base text-muted align-middle"></i>50000원</li>
                  </ul>
                </article>
              </div>
              <!-- Item-->
              <div class="col pb-sm-2">
                <article class="position-relative">
                  <div class="position-relative mb-3">
                    <button class="btn btn-icon btn-light-primary btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to Favorites"><i class="fi-heart"></i></button><img class="rounded-3" src="img/shopping_img/부채1.PNG" alt="Article img">
                  </div>
                  <h3 class="mb-2 fs-lg"><a class="nav-link stretched-link" href="city-guide-single.html">'궁궐,시선을 담다' 부채</a></h3>
                  <ul class="list-inline mb-0 fs-xs">
                    <li class="list-inline-item pe-1"><i class="fi-star-filled mt-n1 me-1 fs-base text-warning align-middle"></i><b>4.8</b><span class="text-muted">&nbsp;(32)</span></li>
                    <li class="list-inline-item pe-1"><i class="fi-credit-card mt-n1 me-1 fs-base text-muted align-middle"></i>12000원</li>
                  </ul>
                </article>
              </div>
              <!-- Item-->
              <div class="col pb-sm-2">
                <article class="position-relative">
                  <div class="position-relative mb-3">
                    <button class="btn btn-icon btn-light-primary btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to Favorites"><i class="fi-heart"></i></button><img class="rounded-3" src="img/shopping_img/머그1.PNG" alt="Article img">
                  </div>
                  <h3 class="mb-2 fs-lg"><a class="nav-link stretched-link" href="city-guide-single.html">'궁궐,시선을 담다' 머그</a></h3>
                  <ul class="list-inline mb-0 fs-xs">
                    <li class="list-inline-item pe-1"><i class="fi-star-filled mt-n1 me-1 fs-base text-warning align-middle"></i><b>4.5</b><span class="text-muted">&nbsp;(13)</span></li>
                    <li class="list-inline-item pe-1"><i class="fi-credit-card mt-n1 me-1 fs-base text-muted align-middle"></i>13000원</li>
                  </ul>
                </article>
              </div>
              <!-- Item-->
              <div class="col pb-sm-2">
                <article class="position-relative">
                  <div class="position-relative mb-3">
                    <button class="btn btn-icon btn-light-primary btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to Favorites"><i class="fi-heart"></i></button><img class="rounded-3" src="img/shopping_img/수저.PNG" alt="Article img">
                  </div>
                  <h3 class="mb-2 fs-lg"><a class="nav-link stretched-link" href="city-guide-single.html">방짜유기 수저세트(2인)</a></h3>
                  <ul class="list-inline mb-0 fs-xs">
                    <li class="list-inline-item pe-1"><i class="fi-star-filled mt-n1 me-1 fs-base text-warning align-middle"></i><b>5.0</b><span class="text-muted">&nbsp;(17)</span></li>
                    <li class="list-inline-item pe-1"><i class="fi-credit-card mt-n1 me-1 fs-base text-muted align-middle"></i>100000원</li>
                  </ul>
                </article>
              </div>
              <!-- Item-->
              <div class="col pb-sm-2">
                <article class="position-relative">
                  <div class="position-relative mb-3">
                    <button class="btn btn-icon btn-light-primary btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to Favorites"><i class="fi-heart"></i></button><img class="rounded-3" src="img/shopping_img/문방사우.PNG" alt="Article img">
                  </div>
                  <h3 class="mb-2 fs-lg"><a class="nav-link stretched-link" href="city-guide-single.html">나전 문방사우 메모패드</a></h3>
                  <ul class="list-inline mb-0 fs-xs">
                    <li class="list-inline-item pe-1"><i class="fi-star-filled mt-n1 me-1 fs-base text-warning align-middle"></i><b>5.0</b><span class="text-muted">&nbsp;(45)</span></li>
                    <li class="list-inline-item pe-1"><i class="fi-credit-card mt-n1 me-1 fs-base text-muted align-middle"></i>60000원</li>
                  </ul>
                </article>
              </div>
              <!-- Item-->
              <div class="col pb-sm-2">
                <article class="position-relative">
                  <div class="position-relative mb-3">
                    <button class="btn btn-icon btn-light-primary btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to Favorites"><i class="fi-heart"></i></button><img class="rounded-3" src="img/shopping_img/오르골.PNG" alt="Article img">
                  </div>
                  <h3 class="mb-2 fs-lg"><a class="nav-link stretched-link" href="city-guide-single.html">도자기 오르골 (작호도/매화)</a></h3>
                  <ul class="list-inline mb-0 fs-xs">
                    <li class="list-inline-item pe-1"><i class="fi-star-filled mt-n1 me-1 fs-base text-warning align-middle"></i><b>4.0</b><span class="text-muted">&nbsp;(15)</span></li>
                    <li class="list-inline-item pe-1"><i class="fi-credit-card mt-n1 me-1 fs-base text-muted align-middle"></i>46000원</li>
                  </ul>
                </article>
              </div>
              <!-- Item-->
              <div class="col pb-sm-2">
                <article class="position-relative">
                  <div class="position-relative mb-3">
                    <button class="btn btn-icon btn-light-primary btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to Favorites"><i class="fi-heart"></i></button><img class="rounded-3" src="img/shopping_img/우산1.PNG" alt="Article img">
                  </div>
                  <h3 class="mb-2 fs-lg"><a class="nav-link stretched-link" href="city-guide-single.html">단청 꽃문 비닐우산</a></h3>
                  <ul class="list-inline mb-0 fs-xs">
                    <li class="list-inline-item pe-1"><i class="fi-star-filled mt-n1 me-1 fs-base text-warning align-middle"></i><b>4.6</b><span class="text-muted">&nbsp;(10)</span></li>
                    <li class="list-inline-item pe-1"><i class="fi-credit-card mt-n1 me-1 fs-base text-muted align-middle"></i>7000원</li>
                  </ul>
                </article>
              </div>
               <!-- Item-->
               <div class="col pb-sm-2">
                 <article class="position-relative">
                   <div class="position-relative mb-3">
                     <button class="btn btn-icon btn-light-primary btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to Favorites"><i class="fi-heart"></i></button><img class="rounded-3" src="img/shopping_img/오르골.PNG" alt="Article img">
                   </div>
                   <h3 class="mb-2 fs-lg"><a class="nav-link stretched-link" href="city-guide-single.html">도자기 오르골 (작호도/매화)</a></h3>
                   <ul class="list-inline mb-0 fs-xs">
                     <li class="list-inline-item pe-1"><i class="fi-star-filled mt-n1 me-1 fs-base text-warning align-middle"></i><b>4.0</b><span class="text-muted">&nbsp;(15)</span></li>
                     <li class="list-inline-item pe-1"><i class="fi-credit-card mt-n1 me-1 fs-base text-muted align-middle"></i>46000원</li>
                   </ul>
                 </article>
               </div>
                <!-- Item-->
                <div class="col pb-sm-2">
                 <article class="position-relative">
                   <div class="position-relative mb-3">
                     <button class="btn btn-icon btn-light-primary btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to Favorites"><i class="fi-heart"></i></button><img class="rounded-3" src="img/shopping_img/오르골.PNG" alt="Article img">
                   </div>
                   <h3 class="mb-2 fs-lg"><a class="nav-link stretched-link" href="city-guide-single.html">도자기 오르골 (작호도/매화)</a></h3>
                   <ul class="list-inline mb-0 fs-xs">
                     <li class="list-inline-item pe-1"><i class="fi-star-filled mt-n1 me-1 fs-base text-warning align-middle"></i><b>4.0</b><span class="text-muted">&nbsp;(15)</span></li>
                     <li class="list-inline-item pe-1"><i class="fi-credit-card mt-n1 me-1 fs-base text-muted align-middle"></i>46000원</li>
                   </ul>
                 </article>
               </div>
               <!-- Item-->
              <div class="col pb-sm-2">
                <article class="position-relative">
                  <div class="position-relative mb-3">
                    <button class="btn btn-icon btn-light-primary btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to Favorites"><i class="fi-heart"></i></button><img class="rounded-3" src="img/shopping_img/오르골.PNG" alt="Article img">
                  </div>
                  <h3 class="mb-2 fs-lg"><a class="nav-link stretched-link" href="city-guide-single.html">도자기 오르골 (작호도/매화)</a></h3>
                  <ul class="list-inline mb-0 fs-xs">
                    <li class="list-inline-item pe-1"><i class="fi-star-filled mt-n1 me-1 fs-base text-warning align-middle"></i><b>4.0</b><span class="text-muted">&nbsp;(15)</span></li>
                    <li class="list-inline-item pe-1"><i class="fi-credit-card mt-n1 me-1 fs-base text-muted align-middle"></i>46000원</li>
                  </ul>
                </article>
              </div>
            </div>
             <!-- Pagination: with icons -->
             <section class="container d-flex justify-content-center mt-5">
               <nav class="mt-2" aria-label="Page navigation example">
                 <ul class="pagination pagination-lg">
                   <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><i class="fi-chevron-left"></i></a>
                   </li>
                   <li class="page-item d-sm-none"><span class="page-link page-link-static">2 / 5</span></li>
                   <li class="page-item d-none d-sm-block"><a class="page-link" href="#">1</a></li>
                   <li class="page-item active d-none d-sm-block" aria-current="page"><span class="page-link">2<span
                         class="visually-hidden">(current)</span></span></li>
                   <li class="page-item d-none d-sm-block"><a class="page-link" href="#">3</a></li>
                   <li class="page-item d-none d-sm-block"><a class="page-link" href="#">4</a></li>
                   <li class="page-item d-none d-sm-block"><a class="page-link" href="#">5</a></li>
                   <li class="page-item"><a class="page-link" href="#" aria-label="Next"><i class="fi-chevron-right"></i></a>
                   </li>
                 </ul>
               </nav>
             </section>
          </div>
        </div>
      </div>
    </div>
   </main>

    <!-- 푸터 -->
    <footer class="footer bg-dark">
      <div class="container pt-3 pt-lg-3 justify-content-between">
        <div class="row pt-2 pt-lg-1">
          <div class="col-lg-3 mt-4">
            <h3 class="h5 text-light mb-2">문화월드의 소식을 구독해 보세요</h3>
            <p class="fs-sm text-light opacity-70">새로 업데이트되는 소식을 전해드립니다</p>
            <form class="form-group form-group-light w-100">
              <div class="input-group input-group-sm"><span class="input-group-text"> <i class="fi-mail"></i></span>
                <input class="form-control" type="text" placeholder="Email 주소">
              </div>
              <button class="btn btn-primary btn-icon btn-sm" type="button"><i class="fi-send"></i></button>
            </form>
          </div>
          <div class="col mt-5">
            <a href="#" style="text-decoration: none;"><span class="text-light" style="font-size: 20pt;">문화재</span></a><br><br>
            <a href="#" style="text-decoration: none;"><span class="text-light" style="font-size: 20pt;">추천페이지</span></a>
          </div>
          <div class="col mt-5">
            <a href="#" style="text-decoration: none;"><span class="text-light" style="font-size: 20pt;">문화재행사</span></a><br><br>
            <a href="#" style="text-decoration: none;"><span class="text-light" style="font-size: 20pt;">날씨정보</span></a>
          </div>
          <div class="col mt-5">
            <a href="#" style="text-decoration: none;"><span class="text-light" style="font-size: 20pt;">박물관</span></a><br><br>
            <a href="#" style="text-decoration: none;"><span class="text-light" style="font-size: 20pt;">모임</span></a>
          </div>
          <div class="col mt-5">
            <a href="#" style="text-decoration: none;"><span class="text-light" style="font-size: 20pt;">쇼핑</span></a><br><br>
            <a href="#" style="text-decoration: none;"><span class="text-light" style="font-size: 20pt;">커뮤니티</span></a>
          </div>

          <div class="col-lg-3 mb-2 mb-sm-4">
            <div class="row">
              <div class="col mt-2">
                <span class="text-light" style="font-size: 40pt;">문화</span>
                <span class="text-light" style="font-size: 40pt;">&nbsp;월드</span>
              </div>
              <div class="col mt-2">
                <img src="img/myimages/ksw/FinalLogo.jpg" width="140px" style="border-radius: 100%;" alt="">
                <div class="d-flex flex-wrap pt-2"><a class="btn btn-icon btn-translucent-light btn-xs rounded-circle mb-2 me-2" href="#"><i class="fi-facebook"></i></a>
                  <a class="btn btn-icon btn-translucent-light btn-xs rounded-circle mb-2 me-2" href="#"><i class="fi-twitter"></i></a>
                  <a class="btn btn-icon btn-translucent-light btn-xs rounded-circle mb-2 me-2" href="#"><i class="fi-telegram"></i></a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- 푸터 끝 -->



    <!-- Back to top button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon fi-chevron-up">   </i></a>
    <!-- Vendor scrits: js libraries and plugins-->
    <script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <!-- Main theme script-->
    <script src="js/theme.min.js"></script>
  </body>
</html>