<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <title> 박물관 상세페이지 </title>
  <!-- SEO Meta Tags-->
  <meta name="description" content="Finder - Directory &amp; Listings Bootstrap Template" />
  <meta name="keywords"
    content="bootstrap, business, directory, listings, e-commerce, car dealer, city guide, real estate, job board, user account, multipurpose, ui kit, html5, css3, javascript, gallery, slider, touch" />
  <meta name="author" content="Createx Studio" />
  <!-- Viewport-->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Favicon and Touch Icons-->
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" />
  <link rel="manifest" href="site.webmanifest" />
  <link rel="mask-icon" color="#5bbad5" href="safari-pinned-tab.svg" />
  <meta name="msapplication-TileColor" content="#766df4" />
  <meta name="theme-color" content="#ffffff" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <!-- Page loading styles-->
  <style>
    @font-face {
      font-family: "GmarketSansMedium";
      src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
      font-weight: normal;
      font-style: normal;
    }

    .gmarketfontM {
      font-family: "GmarketSansMedium";
    }

    * {
      font-family: "GmarketSansMedium";
    }

    .page-loading {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: all 0.4s 0.2s ease-in-out;
      transition: all 0.4s 0.2s ease-in-out;
      background-color: #1f1b2d;
      opacity: 0;
      visibility: hidden;
      z-index: 9999;
    }

    .page-loading.active {
      opacity: 1;
      visibility: visible;
    }

    .page-loading-inner {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      text-align: center;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: opacity 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out;
      opacity: 0;
    }

    .page-loading.active>.page-loading-inner {
      opacity: 1;
    }

    .page-loading-inner>span {
      display: block;
      font-size: 1rem;
      font-weight: normal;
      color: #fff;
    }

    .page-spinner {
      display: inline-block;
      width: 2.75rem;
      height: 2.75rem;
      margin-bottom: 0.75rem;
      vertical-align: text-bottom;
      border: 0.15em solid #9691a4;
      border-right-color: transparent;
      border-radius: 50%;
      -webkit-animation: spinner 0.75s linear infinite;
      animation: spinner 0.75s linear infinite;
    }

    @-webkit-keyframes spinner {
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    @keyframes spinner {
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
  </style>
  <!-- Page loading scripts-->
  <script>
    (function () {
      window.onload = function () {
        var preloader = document.querySelector(".page-loading");
        preloader.classList.remove("active");
        setTimeout(function () {
          preloader.remove();
        }, 2000);
      };
    })();
  </script>
  <!-- Vendor Styles-->
  <link rel="stylesheet" media="screen" th:href="@{/vendor/simplebar/dist/simplebar.min.css}" />
  <link rel="stylesheet" media="screen" th:href="@{/vendor/tiny-slider/dist/tiny-slider.css}" />
  <link rel="stylesheet" media="screen" th:href="@{/vendor/lightgallery/css/lightgallery-bundle.min.css}" />
  <link rel="stylesheet" media="screen" th:href="@{/vendor/nouislider/dist/nouislider.min.css}" />

  <!-- Main Theme Styles + Bootstrap-->
  <link rel="stylesheet" media="screen" th:href="@{/css/theme.min.css}" />
</head>
<!-- Body-->

<body>
  <!-- Page loading spinner-->
  <div class="page-loading active">
    <div class="page-loading-inner">
      <div class="page-spinner"></div>
      <span>Loading...</span>
    </div>
  </div>
  <!-- 헤더 시작 -->
 <th:block th:replace="common/header :: headerFragment"></th:block>
  <!-- 헤더 끝 -->
   
  <main class="page-wrapper">
    <!-- Page content-->
    <section class="container mt-5 mb-lg-5 mb-4 pt-5 pb-lg-5">
        <br>
      <!-- Breadcrumb-->
      <nav class="mb-3 pt-md-3" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="real-estate-home-v1.html">Home</a></li>
          <li class="breadcrumb-item"><a href="real-estate-catalog-rent.html"> 박물관 검색 </a></li>
          <li class="breadcrumb-item active" aria-current="page"> 박물관 상세페이지 </li>
        </ol>
      </nav>
      <div class="row gy-5 pt-lg-2">
        <div class="col-lg-7">
          <div class="d-flex flex-column">
            <!--================ 박물관 이미지 -->
            <div class="tns-carousel-wrapper mb-3 rounded-3" style="width: 100%; height: 520px; background: url('/img/museum_img/bg-30.jpg') no-repeat center center; background-size: cover;">
              <img class="rounded-3" th:src="${museum.imageUrl}" style="width: 100%; height: 520px;">
				
            </div>

            <!--============== 관람안내 -->
            <div class="order-lg-2 order-1">
              <h1 class="h2 mt-3"> 관람안내 </h1>
              <h4 class="mb-2"> 관람 시간 </h4>
              <ul class="list-unstyled mt-n1 mb-0 h5 opacity-70">
                <li class="mt-1 mb-0">
                  <b class="me-5"> 평일 관람시간 </b>
                   [[${museum.msweekopen}]] ~  [[${museum.msweekclose}]]
                </li>
                <li class="mt-1 mb-0">
                  <b class="me-3"> 공휴일 관람시간 </b>&nbsp;
                   [[${museum.msholidayopen}]] ~  [[${museum.msholidayclose}]]
                </li>
              </ul>
              <br><br>
              <h4 class="mb-2"> 휴관정보 </h4>
              <ul class="list-unstyled mt-n1 mb-0 h5 opacity-70">
                <li class="mt-1 mb-0">
                 [[${museum.msclosureinfo}]]
                </li>
              </ul>
              <br>
              <hr><br>
              <h4 class="mb-2"> 관람료 </h4>
              <ul class="list-unstyled mt-n1 mb-0 h5 opacity-70">
                <li class="mt-1 mb-0">
                  <b class="me-5"> 어른관람료 </b>
                  [[${museum.msadultcharge}]]
                </li>
                <li class="mt-1 mb-0">
                  <b class="me-4"> 청소년 관람료 </b>
                 [[${museum.msyngcharge}]]
                </li>
                <li class="mt-1 mb-0">
                  <b class="me-4"> 어린이 관람료 </b>
                  [[${museum.mschildcharge}]]
                </li>
              </ul>
            </div>
          </div>

          <!--  찾아 오시는 길 =============== -->
          <br>
          <hr><br>
          <h1 class="h2 mb-2"> 찾아오시는 길 </h1>
          <h1 class="h5 mb-2"><i class="fi-map-pin me-1 mb-1"></i>
             [[${museum.msaddress}]] </h1>
          <section >
            <!-- 지도를 표시할 div 입니다 -->
            <div id="map" style="width:100%; height:300px;"></div>
            <script type="text/javascript"
              src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=04524540eaf5cf777208f85e52d03be1"></script>
            <script>
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = {
              center: new kakao.maps.LatLng( '[[${museum.mslati}]]', '[[${museum.mslong}]]' ), // 지도의 중심좌표
              level: 2 // 지도의 확대 레벨
            };
          // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
          var map = new kakao.maps.Map(mapContainer, mapOption); 
          
          var imageSrc = "img/museum_img/lalamarker2.png", // 마커이미지의 주소입니다    
          imageSize = new kakao.maps.Size(60, 69), // 마커이미지의 크기입니다
          imageOption = {offset: new kakao.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
   		  var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
      	    markerPosition = new kakao.maps.LatLng('[[${museum.mslati}]]', '[[${museum.mslong}]]' ); // 마커가 표시될 위치입니다

     	  var marker = new kakao.maps.Marker({
           position: markerPosition, 
           image: markerImage // 마커이미지 설정 
     			 });
     			 marker.setMap(map);  
            </script>
          </section>
          <br>
          <br>
          <!-- 이용후기 -->
          <section>
            <div
              class="d-flex flex-sm-row flex-column align-items-sm-center align-items-stretch justify-content-between">
              <div class="d-flex">
                <div class="d-flex align-items-center">
                  <h2 class="h2 me-3"> 이용후기 </h2>
                  <i class="fi-star-filled mt-n1 me-1 lead align-middle text-warning"></i>
                  4,9 ( [[${museum.reviewcount}]] 이용후기)
                </div>
              </div>
              <div class="d-flex align-items-center ms-sm-4 mb-1">
                <label class="me-2 pe-1 text-nowrap" for="reviews-sorting">
                  <i class="fi-arrows-sort text-muted mt-n1 me-2"></i> 정렬 순서 &nbsp :
                </label>
                <select class="form-select form-select-sm" id="reviews-sorting" style="font-weight: bold;">
                  <option> 최신순 </option>
                  <option> 오래된 순</option>
                  <option> 인기 순 </option>
                  <option> 별점 높은 순</option>
                  <option> 별점 낮은 순 </option>
                </select>
              </div>
            </div>
            <hr><br>
            
            <!-- Review 내용 출력되는 부분 -------------------------------------------------------->
           <th:block th:if="${#lists.isEmpty(replyList) == false}">
           <th:block th:each="reply : ${replyList}"> 
            <div class="mb-4 border-bottom">
              <div class="d-flex justify-content-between mb-2">
                <div class="d-flex align-items-center pe-2"><img class="rounded-circle me-1" src="img/myimages/ksw/replyicon.png"
                    width="48" alt="Avatar">
                  <div class="ps-2">
                    <h6 class="fs-base mb-0"> [[${reply.member.memberId}]] </h6>
                    <span class="star-rating">
                       <!-- 채워진 별 아이콘 출력 -->
                        <th:block th:each="star : ${#numbers.sequence(1, reply.rating)}">
                          <i class="star-rating-icon fi-star-filled active"></i>
                        </th:block>
                        <!-- 빈 별 아이콘 출력 -->
                        <th:block th:if="${reply.rating < 5}" th:each="emptyStar : ${#numbers.sequence(reply.rating + 1, 5)}">
                          <i class="star-rating-icon fi-star"></i>
                        </th:block>
                    </span>
                  </div>
                </div><span class="text-muted fs-sm comment-date" th:text="${#dates.format(reply.createdate, 'yyyy-MM-dd HH:mm:ss')}"> </span>
              </div>
              <p>
                [[${reply.content}]]  </p>
              	<th:block th:if="${session.loginMember != null && 
							(session.loginMember.memberId == reply.member.memberId || session.loginMember.role == 'ROLE_ADMIN')}">
				<div style="display: flex; justify-content: end; margin-top: -15px" > 
				
					<a class="btn btn-outline-primary rounded-pill mb-1" th:onclick="'deleteReply(' + ${reply.rno} + ',' + ${museum.msno} + ');'" > 삭제 </a>
				</div>
				</th:block>
            </div>
            	</th:block>
		</th:block>
		<th:block th:if="${#lists.isEmpty(replyList)}">
			<div class="mb-4 border-bottom">
	         <div class="h5 text-warning"> 등록된 리플이 없습니다.</div>
	         </div>
		</th:block>
            <!-- Review-->
            <!--  페이지  -->
            <div class="d-flex align-items-center justify-content-between">
               <div>
             <th:block th:if="${list != null && #lists.size(list) != 0}">
              <nav aria-label="Reviews pagination">
                <ul class="pagination mb-0">
                  
                  
          <th:block th:each="num, status : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
         	<th:block th:if="${status.current == pageInfo.currentPage}">
       
          		<li class="page-item active d-none d-sm-block" aria-current="page"><span class="page-link"> [[${status.current}]] <span
                class="visually-hidden">(current)</span></span></li>
          	</th:block>      
          	<th:block th:if="${status.current != pageInfo.currentPage}">
          <li class="page-item d-none d-sm-block"><a class="page-link"  th:onclick="|movePage(${status.current});|"> [[${status.current}]] </a></li>
      
          	</th:block>
          </th:block>
                  
                  
                  <li class="page-item"><a class="page-link" href="#" aria-label="Next"  th:onclick="|movePage(${pageInfo.nextPage});|"><i class="fi-chevron-right"></i></a>
                  </li>
                </ul>
              </nav>
             </th:block>
                <script type="text/javascript">
						function movePage(page){
						searchForm.page.value = page;
						searchForm.submit();
							}
		 		
					  	function deleteReply(replyNo, museumNo){
					  		var url = "/replyDel?replyNo=";
					  		var requestURL = url + replyNo +"&museumNo=" + museumNo;
					  		location.replace(requestURL);
					  	}
					  	
			  	</script>
                </div>
            
              <!-- 리플 작성 Form 버튼 -->
			<th:block th:if="${session.loginMember != null}">  
		
              <a class="btn btn-outline-primary rounded-pill ms-4" href="#modal-review" data-bs-toggle="modal">
              <i class="fi-edit mt-n1 me-1 align-middle"></i>
                이용후기 작성 </a>
           
             </th:block>  
                
            </div>
          </section>
        </div>
        <!--------------------  Review modal 이용후기 모달-->
      <div class="modal fade" id="modal-review" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header d-block position-relative border-0 pb-0 px-sm-5 px-4">
              <h3 class="modal-title mt-4 text-center"> 이용후기 작성하기 </h3>
              <button class="btn-close position-absolute top-0 end-0 mt-3 me-3" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-sm-5 px-4">
              <form action="/reply" method="post" class="needs-validation" novalidate>
               <input type="hidden" name="msno" th:value="${museum.msno}" />
               <th:block th:if="${session.loginMember != null}">
		    			<input type="hidden" name="writerId" th:value="${session.loginMember.memberId}" />
	   				</th:block>
                <div class="mb-3">
                  <label class="form-label" for="review-rating"> 별점 <span class='text-danger'>*</span></label>
                  <select class="form-control form-select"  id="rating" name="rating" required>
                    <option value="" selected disabled hidden> 별점 선택 </option>
                    <option value="5">5 stars</option>
                    <option value="4">4 stars</option>
                    <option value="3">3 stars</option>
                    <option value="2">2 stars</option>
                    <option value="1">1 star</option>
                  </select>
                  <div class="invalid-feedback"> 별점을 선택하세요. </div>
                </div>
                <div class="mb-4">
                  <label class="form-label" for="review-text"> 이용후기 <span class='text-danger'>*</span></label>
                  <textarea class="form-control"  name="content" id="replyContent" rows="5" placeholder="이용후기 내용을 입력하세요." required></textarea>
                  <div class="invalid-feedback"> 이용후기를 작성하세요.</div>
                </div>
                <button class="btn btn-primary d-block rounded-pill w-100 mb-4" type="submit"> 이용후기 작성 </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
        
        <!-- ======================================================== 오른쪽 사이드 -->
        <aside class="col-lg-5">
          <div class="ps-lg-5">
            <div class="d-flex align-items-center justify-content-between mb-3">
              <div>
              	<span th:if="${museum.mstype == '대학'}" class="badge bg-success mb-2 me-2">대학</span>
				<span th:if="${museum.mstype == '사립'}" class="badge bg-warning mb-2 me-2">사립</span>
				<span th:if="${museum.mstype == '공립'}" class="badge bg-info mb-2 me-2">공립</span>
                <span th:if="${museum.mstype == '국립'}" class="badge bg-accent mb-2 me-2">국립</span>
                
                <span th:unless="${museum.msadultcharge != '0' or museum.msyngcharge != '0' or museum.mschildcharge != '0'}"class="badge bg-primary me-2 mb-2">무료</span>
				<span th:if="${museum.msadultcharge != '0' or museum.msyngcharge != '0' or museum.mschildcharge != '0'}"class="badge bg-danger me-2 mb-2">유료</span>
              </div>
              <div class="text-nowrap">
                <button
                  class="btn btn-icon btn-light-primary btn-xs text-warning shadow-sm rounded-circle ms-2 mb-2 me-2"
                  type="button" data-bs-toggle="tooltip" title=" 즐겨찾기 "><i class="fi-heart"></i>
                </button>
                <!--========================================================= 카카오톡 공유하기 -->
                <div class="btn-xs d-inline-block shadow-sm" type="button" data-bs-toggle="tooltip" title="공유하기">
                  <a id="kakaotalk-sharing-btn" href="javascript:;">
                    <img
                      src="https://developers.kakao.com/assets/img/about/logos/kakaotalksharing/kakaotalk_sharing_btn_medium.png"
                      alt="카카오톡 공유 보내기 버튼" style="width: 33px;" />
                  </a>
                  <script src="https://t1.kakaocdn.net/kakao_js_sdk/2.6.0/kakao.min.js"
                    integrity="sha384-6MFdIr0zOira1CHQkedUqJVql0YtcZA1P0nbPrQYJXVJZUkTk/oX4U9GhUIs3/z8"
                    crossorigin="anonymous"></script>
                  <script>
                    Kakao.init('04524540eaf5cf777208f85e52d03be1'); // 사용하려는 앱의 JavaScript 키 입력
                  </script>
                  <script>
                    Kakao.Share.createDefaultButton({
                      container: '#kakaotalk-sharing-btn',
                      objectType: 'feed',
                      content: {
                        title: '문화월드',
                        description: '박물관 공유하기',
                        imageUrl:
                          'https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzA5MjRfMTg5%2FMDAxNjk1NTYyMzIzNTQ3.N9uPfbXKX7-eqmaQnbs-0Gspm9KSpbifQ9KTTO0s-5cg.KXHAFQuaCIBdpRzVGvjrQ66RKoeIzmyqnCbLvlUfsvEg.JPEG.hyunmi246%2F20230918_121735.jpg&type=a340',
                        link: {
                          // [내 애플리케이션] > [플랫폼] 에서 등록한 사이트 도메인과 일치해야 함
                          webUrl: 'http://127.0.0.1:5500',
                        },
                      },
                      social: {
                        likeCount: 286,
                        commentCount: 45,
                        sharedCount: 845,
                      },
                      buttons: [
                        {
                          title: '웹으로 보기',
                          link: {
                            webUrl: '`http://localhost/museumview?no=${museum.msno}',
                          },
                        },
                      ],
                    });
                  </script>
                </div>
              </div>
            </div>
            <div class="d-flex">
              <img src="img/museum_img/logo.png" style="width: 40px; height: 40px;" alt="Thumbnail">
              &nbsp &nbsp
              <h1> [[${museum.msname}]] </h1>
            </div>
            <h3 class="h5 mb-2"> 관람시간 </h3>
            <h2 class="h3 mb-4 pb-2">  [[${museum.msweekopen}]] ~ [[${museum.msweekclose}]] <span class="d-inline-block ms-1 fs-base fw-normal text-body">/
                평일 </span>
            </h2>
            <!-- Property details-->
            <div class="card border-0 bg-secondary mb-4" style="height: 215px;">
              <div class="card-body">
                <h4 class="mb-0 pb-3"> 연락처 </h4>
                <ul class="list-unstyled mt-n2 mb-0 h5 opacity-80">
                  <li class="mt-2 mb-0"> <i class="fi-map-pin me-1"> </i> [[${museum.msaddress}]] </li>
                  <li class="mt-2 mb-0"> <i class="fi-phone me-1"> </i>  [[${museum.mstel}]] </li>
                  <li class="mt-2 mb-0" > <i class="fi-globe me-1"> </i> 
                  <b class="fs-sm" th:text="${museum.mshomepage}" >  </b>
                  </li>
                </ul>
              </div>
            </div>
            <!-- ======================================= 길찾기 -->
            <a class="d-inline-block pb-2 text-decoration-none" href="#"><i class="fi-map me-2 mt-n1 align-middle"></i>
              지도로 길찾기 </a>
            <div class="btn btn-lg btn-primary w-100 mb-5" href="#">
              <a th:href="@{'https://map.naver.com/v5/search/' + ${museum.msname} + '?c=' + ${museum.mslong} + ',' + ${museum.mslati} + ',15,0,0,0,dh'}"
                target="_blank" class="nav-link me-4">
                <img src="img/museum_img/map-naver.png" style="height: 20px; width:20px;" alt=" Image">
                네이버지도
              </a>
              <a th:href="@{'https://map.kakao.com/?q=' + ${museum.msname}}"
                target="_blank" class="nav-link me-3">
                <img src="img/museum_img/map-kakao.png" style="height: 20px; width:20px;" alt="Image">
                카카오지도
              </a>
              <a th:href="@{'https://www.google.com/maps/search/?api=1&query=' + ${museum.msname}}"
                target="_blank" class="nav-link  me-4">
                <img src="img/museum_img/map-google.png" style="height: 20px; width:20px;" alt="Image"> 구글지도
              </a>
              
            </div>

            <!-- Amenities-->
            <div class="card border-0 bg-secondary mb-4">
              <div class="card-body">
                <h4 class="mb-3"> 관람 시 유의사항 </h4>
                <div class="d-flex mb-1">
                  <img src="img/museum_img/sub01_img15.png" style="height: 23px; margin-right: 10px;" alt="">
                  뛰어다니지
                  마십시오. 또한 전시실에서는 자전거, 킥보드, 인라인 스케이트 등을 이용할 수 없습니다.
                </div>
                <div class="d-flex mb-1">
                  <img src="img/museum_img/sub01_img16.png" style="height: 23px; margin-right: 10px;" alt="">
                  전시관내 음식물 반입 금지입니다.
                </div>
                <div class="d-flex mb-1">
                  <img src="img/museum_img/sub01_img17.png" style="height: 23px; margin-right: 10px;" alt="">
                  타관람객의 감상을 방해하는 모든 행위를 금지합니다.
                </div>
                <div class="d-flex mb-1">
                  <img src="img/museum_img/sub01_img19.png" style="height: 23px; margin-right: 10px;" alt="">
                  플래시/ 삼각대
                  등을 이용한 촬영과 상업적 용도를 위한 촬영을 금지외어 있습니다.
                </div>
                <div class="d-flex mb-1">
                  <img src="img/museum_img/sub01_img13.png" style="height: 23px; margin-right: 10px;" alt="">
                  전시실의 모든 구역은 금연구역입니다.
                </div>
              </div>
            </div>
            <!-- Not included in rent-->
            <div class="card border-0 bg-secondary mb-4">
              <div class="card-body">
                <h5> 데이터 정보 </h5>
                <ul class="list-unstyled row gy-1 mb-0 text-nowrap">
                  <li><i class="fi-calendar-alt mt-n1 me-2 fs-lg align-middle"></i> 데이터 기준일자 : <b>  [[${museum.msdate}]] </b></li>
                  <li><i class="fi-museum mt-n1 me-2 fs-lg align-middle"></i> 관리 기관명 : <b>  [[${museum.msopername}]] </b></li>
                  <li><i class="fi-user mt-n1 me-2 fs-lg align-middle"></i> Views: <b></b>[[${museum.readcount}]] </li>
                </ul>
              </div>
            </div>

            <h4 class="mb-3"> 로드뷰 </h4>
            <!-- 로드뷰 -->
            <!-- 로드뷰를 표시할 div 입니다 ============================================== -->
            <div class="rounded-3" id="pano" style="width:100%;height:300px;"></div>
            <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=g5ryfzaub4&submodules=panorama"></script>
           <script>
           var pano = null;
           naver.maps.onJSContentLoaded = function() {
               // 아이디 혹은 지도 좌표로 파노라마를 표시할 수 있습니다.
               pano = new naver.maps.Panorama("pano", {
                   // panoId: "OregDk87L7tsQ35dcpp+Mg==",
                   position: new naver.maps.LatLng( '[[${museum.mslati}]]', '[[${museum.mslong}]]'),
                   pov: {
                       pan: -135,
                       tilt: 10,
                       fov: 100
                   },
                   flightSpot: false, // 항공 아이콘 표시 여부, default: true
               });
           };
           </script>
          </div>
        </aside>
      </div>
    </section>
    <!-- 박물관 추천 =================================================================================================-->
    <section class="container mb-5 pb-2 pb-lg-4">
      <div class="d-flex align-items-center justify-content-between mb-3">
        <h2 class="h3 mb-0"> 박물관 추천 </h2>
        <a class="btn btn-link fw-2 p-0" href="real-estate-catalog-rent.html">
          더 보기
          <i class="fi-arrow-long-right ms-2"></i></a>
      </div>
      <div class="tns-carousel-wrapper tns-controls-outside-xxl tns-nav-outside tns-nav-outside-flush mx-n2">
        <div class="tns-carousel-inner row gx-4 mx-0 pt-3 pb-4"
          data-carousel-options="{&quot;items&quot;: 4, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;500&quot;:{&quot;items&quot;:2},&quot;768&quot;:{&quot;items&quot;:3},&quot;992&quot;:{&quot;items&quot;:4}}}">
          <!-- Item-->
          <div class="col" style="height: 350px;">
            <div class="card shadow-sm card-hover border-0 h-100">
              <div class="card-img-top card-img-hover" style="height: 200px; width: 100%;"><a class="img-overlay"
                  href="real-estate-single-v1.html"></a>
                <div class="position-absolute start-0 top-0 pt-3 ps-3 h5">
                  <span class="d-table badge bg-success"> 대학 </span>
                </div>
                <div class="content-overlay end-0 top-0 pt-3 pe-3">
                  <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle" type="button"
                    data-bs-toggle="tooltip" data-bs-placement="left" title="즐겨찾기 "><i class="fi-heart"></i></button>
                </div>
                <img src="img/museum_img/bg-7.jpg" alt="Image" style="height: 100%; width: 100%;">
              </div>
              <div class="card-body position-relative pb-3">
                <div class="h4">
                  <a href="#" class="h3 nav-link stretched-link" style="min-height: 60px;">
                    부산교육대학교 교육박물관(한새갤러리)
                  </a>
                </div>
                <div class="d-flex mb-1 text-primary">
                  <i class="fi-map-pin me-2"></i>
                  서울특별시
                  용산구 서빙고로 137
                </div>
                <div class="mb-2">
                  <i class="fi-clock me-1"></i>
                  <span class="ms-1"> 10:00 AM - 6:00 PM </span>
                </div>
              </div>
            </div>
          </div>
          <!-- Item-->
          <div class="col" style="height: 350px;">
            <div class="card shadow-sm card-hover border-0 h-100">
              <div class="card-img-top card-img-hover" style="height: 200px; width: 100%;"><a class="img-overlay"
                  href="real-estate-single-v1.html"></a>
                <div class="position-absolute start-0 top-0 pt-3 ps-3 h5">
                  <span class="d-table badge bg-success"> 대학 </span>
                </div>
                <div class="content-overlay end-0 top-0 pt-3 pe-3">
                  <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle" type="button"
                    data-bs-toggle="tooltip" data-bs-placement="left" title="즐겨찾기 "><i class="fi-heart"></i></button>
                </div>
                <img src="img/museum_img/bg-1.png" alt="Image" style="height: 100%; width: 100%;">
              </div>
              <div class="card-body position-relative pb-3">
                <div class="h4">
                  <a href="#" class="h3 nav-link stretched-link" style="min-height: 60px;">
                    부산교육대학교 교육박물관(한새갤러리)
                  </a>
                </div>
                <div class="d-flex mb-1 text-primary">
                  <i class="fi-map-pin me-2"></i>
                  서울특별시
                  용산구 서빙고로 137
                </div>
                <div class="mb-2">
                  <i class="fi-clock me-1"></i>
                  <span class="ms-1"> 10:00 AM - 6:00 PM </span>
                </div>
              </div>
            </div>
          </div>
          <!-- Item-->
          <div class="col" style="height: 350px;">
            <div class="card shadow-sm card-hover border-0 h-100">
              <div class="card-img-top card-img-hover" style="height: 200px; width: 100%;"><a class="img-overlay"
                  href="real-estate-single-v1.html"></a>
                <div class="position-absolute start-0 top-0 pt-3 ps-3 h5">
                  <span class="d-table badge bg-success"> 대학 </span>
                </div>
                <div class="content-overlay end-0 top-0 pt-3 pe-3">
                  <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle" type="button"
                    data-bs-toggle="tooltip" data-bs-placement="left" title="즐겨찾기 "><i class="fi-heart"></i></button>
                </div>
                <img src="img/museum_img/bg-3.jpeg" alt="Image" style="height: 100%; width: 100%;">
              </div>
              <div class="card-body position-relative pb-3">
                <div class="h4">
                  <a href="#" class="h3 nav-link stretched-link" style="min-height: 60px;">
                    국립중앙박물관
                  </a>
                </div>
                <div class="d-flex mb-1 text-primary">
                  <i class="fi-map-pin me-2"></i>
                  서울특별시
                  용산구 서빙고로 137
                </div>
                <div class="mb-2">
                  <i class="fi-clock me-1"></i>
                  <span class="ms-1"> 10:00 AM - 6:00 PM </span>
                </div>
              </div>
            </div>
          </div>
          <!-- Item-->
          <div class="col" style="height: 350px;">
            <div class="card shadow-sm card-hover border-0 h-100">
              <div class="card-img-top card-img-hover" style="height: 200px; width: 100%;"><a class="img-overlay"
                  href="real-estate-single-v1.html"></a>
                <div class="position-absolute start-0 top-0 pt-3 ps-3 h5">
                  <span class="d-table badge bg-success"> 대학 </span>
                </div>
                <div class="content-overlay end-0 top-0 pt-3 pe-3">
                  <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle" type="button"
                    data-bs-toggle="tooltip" data-bs-placement="left" title="즐겨찾기 "><i class="fi-heart"></i></button>
                </div>
                <img src="img/museum_img/bg-7.jpg" alt="Image" style="height: 100%; width: 100%;">
              </div>
              <div class="card-body position-relative pb-3">
                <div class="h4">
                  <a href="#" class="h3 nav-link stretched-link" style="min-height: 60px;">
                    부산교육대학교 교육박물관(한새갤러리)
                  </a>
                </div>
                <div class="d-flex mb-1 text-primary">
                  <i class="fi-map-pin me-2"></i>
                  서울특별시
                  용산구 서빙고로 137
                </div>
                <div class="mb-2">
                  <i class="fi-clock me-1"></i>
                  <span class="ms-1"> 10:00 AM - 6:00 PM </span>
                </div>
              </div>
            </div>
          </div>
          <!-- Item-->
          <div class="col" style="height: 350px;">
            <div class="card shadow-sm card-hover border-0 h-100">
              <div class="card-img-top card-img-hover" style="height: 200px; width: 100%;"><a class="img-overlay"
                  href="real-estate-single-v1.html"></a>
                <div class="position-absolute start-0 top-0 pt-3 ps-3 h5">
                  <span class="d-table badge bg-success"> 대학 </span>
                </div>
                <div class="content-overlay end-0 top-0 pt-3 pe-3">
                  <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle" type="button"
                    data-bs-toggle="tooltip" data-bs-placement="left" title="즐겨찾기 "><i class="fi-heart"></i></button>
                </div>
                <img src="img/museum_img/bg-7.jpg" alt="Image" style="height: 100%; width: 100%;">
              </div>
              <div class="card-body position-relative pb-3">
                <div class="h4">
                  <a href="#" class="h3 nav-link stretched-link" style="min-height: 60px;">
                    부산교육대학교 교육박물관(한새갤러리)
                  </a>
                </div>
                <div class="d-flex mb-1 text-primary">
                  <i class="fi-map-pin me-2"></i>
                  서울특별시
                  용산구 서빙고로 137
                </div>
                <div class="mb-2">
                  <i class="fi-clock me-1"></i>
                  <span class="ms-1"> 10:00 AM - 6:00 PM </span>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </section>
  </main>



  <!-- 푸터 -->
  <th:block th:replace="common/footer :: footerFragment"></th:block>
  <!-- 푸터 끝 -->

  <!-- Back to top button--><a class="btn-scroll-top" href="#top" data-scroll><span
      class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon fi-chevron-up">
    </i></a>
  <!-- Vendor scrits: js libraries and plugins-->
  <script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/simplebar/dist/simplebar.min.js"></script>
  <script src="/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
  <script src="/vendor/tiny-slider/dist/min/tiny-slider.js"></script>
  <script src="/vendor/lightgallery/lightgallery.min.js"></script>
  <script src="/vendor/lightgallery/plugins/video/lg-video.min.js"></script>
  <script src="/vendor/nouislider/dist/nouislider.min.js"></script>
  <script src="/vendor/cleave.js/dist/cleave.min.js"></script>
  <!-- Main theme script-->
  <script src="/js/theme.min.js"></script>
</body>

</html>