<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>문화재 검색 페이지</title>
    <!-- SEO Meta Tags-->
    <meta
      name="description"
      content="Finder - Directory &amp; Listings Bootstrap Template"
    />
    <meta
      name="keywords"
      content="bootstrap, business, directory, listings, e-commerce, car dealer, city guide, real estate, job board, user account, multipurpose, ui kit, html5, css3, javascript, gallery, slider, touch"
    />
    <meta name="author" content="Createx Studio" />
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon and Touch Icons-->
    <link href="/css/custom_yja.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" />
    <link rel="manifest" href="site.webmanifest" />
    <link rel="mask-icon" color="#5bbad5" href="safari-pinned-tab.svg" />
    <meta name="msapplication-TileColor" content="#766df4" />
    <meta name="theme-color" content="#ffffff" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <!-- Page loading styles-->
    <style>
      @font-face {
        font-family: "GmarketSansMedium";
        src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
          format("woff");
        font-weight: normal;
        font-style: normal;
      }
      .gmarketfontM {
        font-family: "GmarketSansMedium";
      }
      * {
        font-family: "GmarketSansMedium";
      }

      .page-loading {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all 0.4s 0.2s ease-in-out;
        transition: all 0.4s 0.2s ease-in-out;
        background-color: #1f1b2d;
        opacity: 0;
        visibility: hidden;
        z-index: 9999;
      }
      .page-loading.active {
        opacity: 1;
        visibility: visible;
      }
      .page-loading-inner {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;
        opacity: 0;
      }
      .page-loading.active > .page-loading-inner {
        opacity: 1;
      }
      .page-loading-inner > span {
        display: block;
        font-size: 1rem;
        font-weight: normal;
        color: #fff;
      }
      .page-spinner {
        display: inline-block;
        width: 2.75rem;
        height: 2.75rem;
        margin-bottom: 0.75rem;
        vertical-align: text-bottom;
        border: 0.15em solid #9691a4;
        border-right-color: transparent;
        border-radius: 50%;
        -webkit-animation: spinner 0.75s linear infinite;
        animation: spinner 0.75s linear infinite;
      }
      @-webkit-keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
    </style>
    <!-- Page loading scripts-->
    <script>
      (function () {
        window.onload = function () {
          var preloader = document.querySelector(".page-loading");
          preloader.classList.remove("active");
          setTimeout(function () {
            preloader.remove();
          }, 2000);
        };
      })();
    </script>
    <!-- Vendor Styles-->
    <link
      rel="stylesheet"
      media="screen"
      href="vendor/simplebar/dist/simplebar.min.css"
    />
    <link
      rel="stylesheet"
      media="screen"
      href="vendor/tiny-slider/dist/tiny-slider.css"
    />
    <link
      rel="stylesheet"
      media="screen"
      href="vendor/lightgallery/css/lightgallery-bundle.min.css"
    />
    <link
      rel="stylesheet"
      media="screen"
      href="vendor/nouislider/dist/nouislider.min.css"
    />

    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="css/theme.min.css" />
  </head>
  <!-- Body-->
  <body>
    <!-- Page loading spinner-->
    <div class="page-loading active">
      <div class="page-loading-inner">
        <div class="page-spinner"></div>
        <span>Loading...</span>
      </div>
    </div>
    <!-- 헤더 시작 -->
    <th:block th:replace="common/header :: headerFragment"></th:block>
    <!-- 헤더 끝 -->

    <main class="page-wrapper hsearch-page">
    <section class="bg-dark py-xxl-5" style="position: relative; overflow: hidden; height: 600px;">
      	<div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
  			  background-image: url('https://www.gotokyo.org/kr/guide-services/spiritual-calm/images/256_0203_5_750x1100.jpg'); background-size: cover; background-position: center;">
		</div>

      <div class="content-overlay container py-md-5">
        <div class="order-md-1">
          <h3 class="display-4 mb-4 me-lg-n5 text-lg-start text-center text-light" style="margin-top: 100px;">
            모임을 찾아서 함게 떠나보세요.
          </h1>
          <h3 class="display-4 mb-4 me-lg-n5 text-lg-start text-center text-light">
            <span class="d-inline-block text-color" style="color:#ab40ff"> 사람들과 함께 </span>
            모임을 꾸려 즐겨보아요!
          </h3>

          <!-- Search form-->
          <form style="background-color: white;" class="form-group form-group-secondary d-block rounded-xl-pill mt-n3 mt-md-4 mt-xl-5 mb-md-4">
            <div class="row align-items-center g-0 ms-n2">
              <div class="col-md-5 col-xl-9">
                <div class="input-group input-group-lg border-end-md border-secondary"><span class="input-group-text text-secondary rounded-pill opacity-50 ps-3"><i class="fi-search" style="color: #6c757d; font-weight: bold"></i></span>
                  <input class="form-control" type="text" placeholder="모임 이름">
                </div>
              </div>
              <hr class="hr-light d-md-none my-2">
              <div class="col-md-7 col-xl-3 d-sm-flex">
                <div class="dropdown w-sm-50 border-end-sm border-secondary" data-bs-toggle="select">
                  <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown"><span class="dropdown-toggle-label">전체</span></button>
                  <input type="hidden">
                  <ul class="dropdown-menu dropdown-menu-dark my-3">
                  <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">전체</span></a></li>
                    <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">문화재</span></a></li>
                    <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">박물관</span></a></li>
                  </ul>
                </div>
                <button class="btn btn-primary btn-lg w-100 w-sm-50 w-lg-auto rounded-pill mt-4 mt-sm-0" type="button" style="margin-left: 15px;">모임 검색</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>

      <!-- 공연 검색 폼 영역 끝 -->
      <!-- 검색된 영역 시작 -->
      <section class="awards" style="margin-top: 50px">
        <div class="container">
          <div
            class="hsearch-el mt-3 d-flex justify-content-between align-items-center"
          >
            <!-- 검색된 결과 수 시작 -->
            <span
              >검색된 결과 : <strong style="color: #811faf">3</strong> 개</span
            >
            <!-- 검색된 결과 수 끝 -->
            <!-- 정렬 선택 영역 시작 -->
            <ul class="nav nav-pills-custom" style="justify-content: end">
              <li class="nav-item">
                <a class="sort" href="#" style="border: none">이름순</a>
              </li>
              <li class="nav-item">
                <a class="sort" href="#" style="border: none">날짜순</a>
              </li>
              <li class="nav-item">
                <a class="sort" href="#" style="border: none">인기순</a>
              </li>
            </ul>
            <!-- 정렬 선택 영역 끝 -->
          </div>
          <!-- 검색된 리스트 영역 시작 -->
          <div class="search-list gx-5 gy-4">
            <!-- Carousel inside card -->
            <div class="card shadow-sm card-hover border-0">
              <div class="tns-carousel-wrapper card-img-top card-img-hover">
                <a href="#" class="img-overlay"></a>
                <div class="tns-carousel-inner">
                  <img src="img/img_yja/숭례문.jpg" alt="Image" />
                  <img src="img/img_yja/동궁과월지.jpg" alt="Image" />
                  <img src="img/img_yja/문화재.jpg" alt="Image" />
                </div>
              </div>
              <div class="card-body position-relative pb-3">
                <h3 class="h6 mb-2 fs-base">
                  <a href="#" class="nav-link stretched-link">서울 토박이</a>
                </h3>
                <div class="mb-2 fs-sm">
                  <i class="fi-map-pin mt-n1 me-2 lead align-middle"></i>
                  서울 전체
                </div>
                <div class="mb-2 fs-sm text-muted heritage-desc">
					서울 문화재를 좋아하시는분들이라면 모두 환영합니다!
                </div>
              </div>
              <div
                class="card-footer d-flex align-items-center justify-content-center mx-3 pt-3 text-nowrap"
              >
                <span class="d-inline-block mx-1 px-2 fs-sm">
                  <i
                    class="fi-heart-filled text-warning ms-1 mt-n1 fs-lg"
                    style="margin-right: 5px"
                  ></i
                  >23
                </span>
                <span class="d-inline-block mx-1 px-2 fs-sm">
                  <i
                    class="fi-chat-circle ms-1 mt-n1 fs-lg text-muted"
                    style="margin-right: 5px"
                  ></i
                  >3
                </span>
              </div>
            </div>
            <div class="card shadow-sm card-hover border-0">
              <div class="tns-carousel-wrapper card-img-top card-img-hover">
                <a href="#" class="img-overlay"></a>
                <div class="tns-carousel-inner">
                  <img src="https://media.istockphoto.com/id/464629385/ko/%EC%82%AC%EC%A7%84/%ED%95%9C%EA%B5%AD%EC%8B%9C%EA%B0%81-%EC%8A%A4%EC%B9%B4%EC%9D%B4%EB%9D%BC%EC%9D%B8.jpg?s=1024x1024&w=is&k=20&c=3oCupe3o285DFysoh7m5JX7ORult4K9sfk2v7u0UojM=" alt="Image" />
                  <img src="img/img_yja/동궁과월지.jpg" alt="Image" />
                  <img src="img/img_yja/문화재.jpg" alt="Image" />
                </div>
              </div>
              <div class="card-body position-relative pb-3">
                <h3 class="h6 mb-2 fs-base">
                  <a href="#" class="nav-link stretched-link">서울 전역 탐방</a>
                </h3>
                <div class="mb-2 fs-sm">
                  <i class="fi-map-pin mt-n1 me-2 lead align-middle"></i>
                  서울 전체
                </div>
                <div class="mb-2 fs-sm text-muted heritage-desc">
					서울에서 문화재 박물관 등등을 좋아하시는분들 모여요
                </div>
              </div>
              <div
                class="card-footer d-flex align-items-center justify-content-center mx-3 pt-3 text-nowrap"
              >
                <span class="d-inline-block mx-1 px-2 fs-sm">
                  <i
                    class="fi-heart-filled text-warning ms-1 mt-n1 fs-lg"
                    style="margin-right: 5px"
                  ></i
                  >23
                </span>
                <span class="d-inline-block mx-1 px-2 fs-sm">
                  <i
                    class="fi-chat-circle ms-1 mt-n1 fs-lg text-muted"
                    style="margin-right: 5px"
                  ></i
                  >3
                </span>
              </div>
            </div>
            <div class="card shadow-sm card-hover border-0">
              <div class="tns-carousel-wrapper card-img-top card-img-hover">
                <a href="#" class="img-overlay"></a>
                <div class="tns-carousel-inner">
                  <img src="https://a.cdn-hotels.com/gdcs/production110/d812/7a64317f-72f2-4c1e-9ca2-b735b72e2f27.jpg" alt="Image" />
                  <img src="img/img_yja/동궁과월지.jpg" alt="Image" />
                  <img src="img/img_yja/문화재.jpg" alt="Image" />
                </div>
              </div>
              <div class="card-body position-relative pb-3">
                <h3 class="h6 mb-2 fs-base">
                  <a href="#" class="nav-link stretched-link">서울 박물관 탐방</a>
                </h3>
                <div class="mb-2 fs-sm">
                  <i class="fi-map-pin mt-n1 me-2 lead align-middle"></i>
                  서울 박물관
                </div>
                <div class="mb-2 fs-sm text-muted heritage-desc">
					박물관을 좋아하는 모든사람들
                </div>
              </div>
              <div
                class="card-footer d-flex align-items-center justify-content-center mx-3 pt-3 text-nowrap"
              >
                <span class="d-inline-block mx-1 px-2 fs-sm">
                  <i
                    class="fi-heart-filled text-warning ms-1 mt-n1 fs-lg"
                    style="margin-right: 5px"
                  ></i
                  >23
                </span>
                <span class="d-inline-block mx-1 px-2 fs-sm">
                  <i
                    class="fi-chat-circle ms-1 mt-n1 fs-lg text-muted"
                    style="margin-right: 5px"
                  ></i
                  >3
                </span>
              </div>
            </div>
            <div class="card shadow-sm card-hover border-0">
              <div class="tns-carousel-wrapper card-img-top card-img-hover">
                <a href="#" class="img-overlay"></a>
                <div class="tns-carousel-inner">
                  <img src="http://www.honam.co.kr/lib/thumb.html?type=file&w=500&src=202006/17/20200617194031889255.jpg" alt="Image" />
                  <img src="img/img_yja/동궁과월지.jpg" alt="Image" />
                  <img src="img/img_yja/문화재.jpg" alt="Image" />
                </div>
              </div>
              <div class="card-body position-relative pb-3">
                <h3 class="h6 mb-2 fs-base">
                  <a href="#" class="nav-link stretched-link">서울의 과거</a>
                </h3>
                <div class="mb-2 fs-sm">
                  <i class="fi-map-pin mt-n1 me-2 lead align-middle"></i>
                  서울 전체
                </div>
                <div class="mb-2 fs-sm text-muted heritage-desc">
					서울유적 탐방을 원하는사람들 모여요
                </div>
              </div>
              <div
                class="card-footer d-flex align-items-center justify-content-center mx-3 pt-3 text-nowrap"
              >
                <span class="d-inline-block mx-1 px-2 fs-sm">
                  <i
                    class="fi-heart-filled text-warning ms-1 mt-n1 fs-lg"
                    style="margin-right: 5px"
                  ></i
                  >23
                </span>
                <span class="d-inline-block mx-1 px-2 fs-sm">
                  <i
                    class="fi-chat-circle ms-1 mt-n1 fs-lg text-muted"
                    style="margin-right: 5px"
                  ></i
                  >3
                </span>
              </div>
            </div>
            <div class="card shadow-sm card-hover border-0">
              <div class="tns-carousel-wrapper card-img-top card-img-hover">
                <a href="#" class="img-overlay"></a>
                <div class="tns-carousel-inner">
                  <img src="https://cdn.news.eugenes.co.kr/news/photo/201608/2245_4430_324.jpg" alt="Image" />
                  <img src="img/img_yja/동궁과월지.jpg" alt="Image" />
                  <img src="img/img_yja/문화재.jpg" alt="Image" />
                </div>
              </div>
              <div class="card-body position-relative pb-3">
                <h3 class="h6 mb-2 fs-base">
                  <a href="#" class="nav-link stretched-link">서울 경복궁 모임</a>
                </h3>
                <div class="mb-2 fs-sm">
                  <i class="fi-map-pin mt-n1 me-2 lead align-middle"></i>
                  서울 경복궁
                </div>
                <div class="mb-2 fs-sm text-muted heritage-desc">
					매월 경복궁에서 함꼐 하실분들을 찾습니다.
                </div>
              </div>
              <div
                class="card-footer d-flex align-items-center justify-content-center mx-3 pt-3 text-nowrap"
              >
                <span class="d-inline-block mx-1 px-2 fs-sm">
                  <i
                    class="fi-heart-filled text-warning ms-1 mt-n1 fs-lg"
                    style="margin-right: 5px"
                  ></i
                  >23
                </span>
                <span class="d-inline-block mx-1 px-2 fs-sm">
                  <i
                    class="fi-chat-circle ms-1 mt-n1 fs-lg text-muted"
                    style="margin-right: 5px"
                  ></i
                  >3
                </span>
              </div>
            </div>
            <div class="card shadow-sm card-hover border-0">
              <div class="tns-carousel-wrapper card-img-top card-img-hover">
                <a href="#" class="img-overlay"></a>
                <div class="tns-carousel-inner">
                  <img src="https://img.hankyung.com/photo/202105/AKR20210402091000805_02_i_P4.jpg" alt="Image" />
                  <img src="img/img_yja/동궁과월지.jpg" alt="Image" />
                  <img src="img/img_yja/문화재.jpg" alt="Image" />
                </div>
              </div>
              <div class="card-body position-relative pb-3">
                <h3 class="h6 mb-2 fs-base">
                  <a href="#" class="nav-link stretched-link">서울 유적탐방</a>
                </h3>
                <div class="mb-2 fs-sm">
                  <i class="fi-map-pin mt-n1 me-2 lead align-middle"></i>
                  서울 전체
                </div>
                <div class="mb-2 fs-sm text-muted heritage-desc">
                	서울에서 유적탐방하실 고고학 꿈나무들
                </div>
              </div>
              <div
                class="card-footer d-flex align-items-center justify-content-center mx-3 pt-3 text-nowrap"
              >
                <span class="d-inline-block mx-1 px-2 fs-sm">
                  <i
                    class="fi-heart-filled text-warning ms-1 mt-n1 fs-lg"
                    style="margin-right: 5px"
                  ></i
                  >23
                </span>
                <span class="d-inline-block mx-1 px-2 fs-sm">
                  <i
                    class="fi-chat-circle ms-1 mt-n1 fs-lg text-muted"
                    style="margin-right: 5px"
                  ></i
                  >3
                </span>
              </div>
            </div>
          </div>
          <!-- 검색된 리스트 영역 끝 -->
          <!-- 페이지네이션 영역 시작 -->
          <div class="mt-5 mb-5">
            <nav aria-label="Page navigation example">
              <ul
                class="pagination pagination-template d-flex justify-content-center mt-3"
              >
                <li class="page-item">
                  <a class="page-link" href="#">
                    <i class="fa fa-angle-left"></i
                  ></a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <!-- 
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                 -->
                <li class="page-item">
                  <a class="page-link" href="#">
                    <i class="fa fa-angle-right"></i
                  ></a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- 페이지네이션 영역 끝 -->
        </div>
      </section>
      <!-- 검색된 영역 끝 -->
    </main>

    <!-- 푸터 -->
    <th:block th:replace="common/footer :: footerFragment"></th:block>
    <!-- 푸터 끝 -->

    <!-- Back to top button--><a class="btn-scroll-top" href="#top" data-scroll
      ><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span
      ><i class="btn-scroll-top-icon fi-chevron-up"> </i
    ></a>
    <!-- Vendor scrits: js libraries and plugins-->
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="vendor/tiny-slider/dist/min/tiny-slider.js"></script>
    <script src="vendor/lightgallery/lightgallery.min.js"></script>
    <script src="vendor/lightgallery/plugins/video/lg-video.min.js"></script>
    <script src="vendor/nouislider/dist/nouislider.min.js"></script>
    <script src="vendor/cleave.js/dist/cleave.min.js"></script>
    <!-- Main theme script-->
    <script src="js/theme.min.js"></script>
  </body>
</html>
