<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>챗봇</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <style>
      @font-face {
        font-family: 'GmarketSansMedium';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
        font-weight: normal;
        font-style: normal;
      }
      .gmarketfontM{
        font-family: 'GmarketSansMedium';
      }
      * {
        font-family: 'GmarketSansMedium';
      }
      .navbar {
        height: 110px;
      }
    </style>
    <!-- Vendor Styles-->
    <link rel="stylesheet" media="screen" th:href="@{/vendor/simplebar/dist/simplebar.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/vendor/tiny-slider/dist/tiny-slider.css}"/>
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" th:href="@{/css/theme.min.css}">
  </head>
  <body style="padding-top: 72px;">
    <!-- 헤더 시작 -->
    <th:block th:replace="common/header :: headerFragment"></th:block>
    <main class="page-wrapper">
    <section class="bg-dark py-xxl-5" style="position: relative; overflow: hidden; height: 300px;">
      	<div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
  			  background-image: url('img/myimages/ksw/Jongmyo.jpg'); background-size: cover; background-position: center;">
		</div>

      <div class="content-overlay container py-md-5">
        <div class="col-md-8 order-md-1">
          <h1 class="display-4 mb-4 me-lg-n5 text-lg-start text-center text-light" style="margin-top: 100px;">
            모임 채팅
            <span class="text-primary d-inline-block"></span>
          </h1>
        </div>
      </div>
    </section>
    <section class="py-5" id="area">
      <div class="container">
      
        <div class="">
	        <nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item">
			      <a th:href="@{/}">Home</a>
			    </li>
			    <li class="breadcrumb-item">
			      <a href="#">모임</a>
			    </li>
			    <li class="breadcrumb-item active" aria-current="page">채팅방</li>
			  </ol>
			</nav>
        </div>
        
        <!-- 채팅공간 -->
        <div class="px-4 py-5">
          <div class="row" id="chatArea">
          </div>
        </div>
        <!-- 채팅 입력창 -->
        <form class="bg-faded-accent rounded shadow-sm" action="#">
          <div class="input-group">
            <textarea class="form-control border-0 p-4 bg-secondary text-sm" id="userChat" placeholder="대화를 입력하세요." 
            	onkeydown="if(event.keyCode == 13)send();" aria-describedby="sendMessage"></textarea>
            <button class="btn btn-link" onclick="send();" type="button"><i class="fi-send"></i></button>
          </div>
        </form>
      </div>
    </section>
	</main>
    <!-- 푸터 -->
	<th:block th:replace="common/footer :: footerFragment"></th:block>
    
    <!-- 챗봇 기능 -->
    <script>
    	var ws;
    	//var memberId = "Question";
    	var memberId = "[(${session.loginMember.memberId})]";
    	

    	
		function connect() {
			ws = new WebSocket('ws://localhost:80/tochat.do');
			// 채팅 입장
			ws.onopen = function() {
                console.log("웹소켓 연결 생성");
                
				var msg = {
                    type: "register",
                    memberId: memberId
                }
                
                ws.send(JSON.stringify(msg));
			};
			
			ws.onerror = function(event){
				console.log(event);
			}
			// 서버에서 메세지 수신
			ws.onmessage = function(e) {
				var msg = e.data;
				
		    	
		    	function compareID(message) {
		    	    // ":"를 기준으로 문자열을 분할합니다.
		    	    var parts = message.split(':');
		    	    // 첫 번째 부분을 추출합니다.
		    	    var idPart = parts[0].trim();
		    	    
		    	    // 추출한 ID 부분과 비교할 값입니다.
		    	    var targetID = "[(${session.loginMember.memberId})]";
		    	    
		    	    // 추출한 ID 부분과 비교합니다.
		    	    if (idPart == targetID) {
		    	    	console.log("true");
		    	        return true; // 같은 경우
		    	    } else {
		    	    	console.log("false");
		    	        return false; // 다른 경우
		    	    }
		    	}
				
				if(compareID(msg)){
		            $('#chatArea').append(
		   					"<div class='d-flex col-md-9 col-xl-7 ms-auto mb-3'>"+
		   		              "<div class='ms-auto me-3'>"+
		   		                "<div class='bg-primary rounded p-4 mb-2'>"+
		   		                  "<p class='text-sm mb-0 text-white'>"+
		   		                    msg +
		   		                  "</p>"+
		   		                "</div>"+
		   		              "</div>"+
		   		              "<img class='img-thumbnail rounded-circle' "+
		   		                  "style='height: 80px;'"+
		   		                  "src='img/myimages/ksw/replyicon.png'>"+
		   		            "</div>"
		    			);
				}else{
					$('#chatArea').append(
							"<div class='d-flex col-md-9 col-xl-7 mb-3'>"+
				              "<img class='img-thumbnail rounded-circle' "+
				                  "style='height: 80px;'"+
				                  "src='img/myimages/ksw/FinalLogo.jpg'>"+
				              "<div class='ms-3'>"+
				                "<div class='bg-secondary rounded p-4 mb-2'>"+
				                  "<p class='text-sm mb-0'>"+
				                    msg +
				                  "</p>"+
				                "</div>"+
				              "</div>"+
				            "</div>"
					);
				}
				/*
				$('#chatArea').append(
							"<div class='d-flex col-md-9 col-xl-7 mb-3'>"+
				              "<img class='img-thumbnail rounded-circle' "+
				                  "style='height: 80px;'"+
				                  "src='img/myimages/ksw/FinalLogo.jpg'>"+
				              "<div class='ms-3'>"+
				                "<div class='bg-secondary rounded p-4 mb-2'>"+
				                  "<p class='text-sm mb-0'>"+
				                    msg +
				                  "</p>"+
				                "</div>"+
				              "</div>"+
				            "</div>"
					);
				*/
                /* const top = $('#area').prop('scrollHeight');
                $('#area').scrollTop(top); */
			};
			
			ws.onclose = function() {
				console.log(ws);
				console.log("연결종료");
			};
		}
		connect();
		

		// 사용자 채팅 송신
		function send() {
            var chat = $("#userChat").val();
            /*
            $('#chatArea').append(
   					"<div class='d-flex col-md-9 col-xl-7 ms-auto mb-3'>"+
   		              "<div class='ms-auto me-3'>"+
   		                "<div class='bg-primary rounded p-4 mb-2'>"+
   		                  "<p class='text-sm mb-0 text-white'>"+
   		                    chat +
   		                  "</p>"+
   		                "</div>"+
   		              "</div>"+
   		              "<img class='img-thumbnail rounded-circle' "+
   		                  "style='height: 80px;'"+
   		                  "src='img/myimages/ksw/replyicon.png'>"+
   		            "</div>"
    			);
    		*/
   			/* const top = $('#area').prop('scrollHeight');
            $('#area').scrollTop(top); */
            
            var sendMsg = {
            	id : memberId,
                type: "chat",
                target: "",
                msg: chat
            }
            ws.send(JSON.stringify(sendMsg));
   			$('#userChat').val("");
        }
		/*
    	$(()=>{
    		var startMsg = {
   				id : memberId,
                type: "chat",
                target: "",
                msg: "안녕하세요"
    		}
            ws.send(JSON.stringify(startMsg));
    	});
		*/
    </script>
    
    

    <!-- Vendor scrits: js libraries and plugins-->
    <script th:src="@{/vendor/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/vendor/simplebar/dist/simplebar.min.js}"></script>
    <script th:src="@{/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js}"></script>
    <script th:src="@{/vendor/tiny-slider/dist/min/tiny-slider.js}"></script>
    <!-- Main theme script-->
    <script th:src="@{/js/theme.min.js}"></script>
  </body>
</html>