/* index.html style */

.main-bg {
  width: 100%;
  height: 550px;
  background-image: url("../img/img_yja/λ¬Έν™”μ¬.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  margin-top: 80px;
}

.main-text {
  position: absolute;
  top: 200px;
  left: 10%;
  font-size: 40px;
}

.main-text p {
  margin: 0;
  color: white;
}

.main-text p span {
  color: #ab40ff;
}

.main-search {
  position: absolute;
  left: 5%;
  bottom: -30px;
}

.best-heritage {
  display: flex;
  align-items: center;
  margin-top: 80px;
}

.best-heritage__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.best-heritage__title p {
  margin-top: 50px;
  cursor: pointer;
  color: rgb(187, 185, 185);
}

.best-heritage__title p:hover {
  color: black;
}

.best-heritage h2 {
  margin-right: 20px;
  color: #ab40ff;
}

.section-2 {
  margin-top: 60px;
  display: flex;
  margin-bottom: 80px;
}

.cultural-event h2,
.today-museum h2 {
  color: #ab40ff;
}

.event-img {
  margin-right: 5px;
  border-radius: 5px;
}

.event-img:last-child {
  margin-right: 40px;
}

.event-img:hover {
  cursor: pointer;
  scale: 1.005;
}

.today-museum__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.section-3 {
  display: flex;
  margin-top: 80px;
}

.section-3 h2 {
  color: #ab40ff;
}

.board {
  width: 500px;
  padding: 20px;
  margin-bottom: 0;
  border: 1px solid rgb(173, 172, 172);
  border-radius: 10px;
  margin-right: 70px;
}

.board li {
  list-style: none;
  margin: 0;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.board li:last-child {
  margin: 0;
}

.board li span:last-child {
  color: gray;
}

.board li span {
  border-bottom: 1px solid white;
}

.board li span:first-child:hover {
  border-bottom: 1px solid black;
}

.souvenir {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

footer {
  background-color: #201b2d;
  margin-top: 100px;
}

/* heritage-search style */
.hsearch-page {
  position: relative;
}

.hsearch {
  width: 100%;
  display: flex;
  justify-content: center;

  position: absolute;
  top: 350px;
}

.hsearch-bar {
  width: 800px;
  background-color: white;
  box-shadow: 2px 2px 2px rgb(102, 101, 101);
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.sort {
  color: black;
  text-decoration: none;
  margin-right: 50px;
}

.sort:hover {
  color: #ab40ff;
}

.hsearch-el {
  margin-bottom: 20px;
}

.search-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.heritage-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.2;
  /*        height: 4.8em;*/
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.page-link {
  box-shadow: none;
}
.page-link.active,
.active > .page-link {
  color: white !important;
  border: none !important;
  box-shadow: none !important;
}
.page-link:focus {
  box-shadow: none !important;
}
