/*문화재 검색결과 css*/
.tbl{width:100%;border-collapse:collapse;table-layout:fixed}
.tbl tr th{background:#4966c5;color:#fff}
.tbl tr td{border-bottom:1px solid #ddd;color:#555;text-align:center}
.tbl tr td a{color:#555}
.tbl tr td a:hover, .tbl tr td a:focus{color:#0d408c}
.tbl tr td a p{width:100%;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.tbl tbody tr:hover td,.tbl tbody tr:focus td{background:#e7ebf8}
.tbl tr th, .tbl tr td{padding:15px 0}
.tbl tr td.tb_tit{text-align:left}

.tbl.type_01{border-top:3px solid #4966c5}
.tbl.type_01 tr th,.tbl.type_01 tr td{background:#fff}
.tbl.type_01 tr th{color:#000;border-bottom:1px solid #ddd;font-weight:normal}
.tbl.type_01 tr td:first-child{padding-left:1%}

.mt30{margin-top:30px}